@model IEnumerable<DiceMVC.Application.ViewModels.Game.PlayerScoreVm>

@{
    ViewData["Title"] = "EndGame";
}

<div id="header">
    Koniec gry
</div>
<div id="content">
<table border="1">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Place)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Place)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                
            </tr>
        }
    </tbody>
</table>
    </div>
<form asp-action="Index" asp-controller="Home" method="post">
    <input type="submit" name="endGame" value="Powrót do menu" style="text-align:center" />
</form>
