@model DiceMVC.Application.ViewModels.Player.ListOfPlayersVm

@{
    ViewData["Title"] = "LoadPlayer";
}

<h1>LoadPlayer</h1>

<div>
    <form asp-action="LoadPlayer" asp-controller="Player" method="post">
        <input type="hidden" asp-for="GameId"  value="@Model.GameId" />
        <input type="hidden" asp-for="PlayerNo"  />
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayFor(model => model.Count)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Players)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            <div>
                                <label>
                                    <input type="radio" value="@item.Id" asp-for="ChoosePlayer" /><br />
                                </label>
                            </div>

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>

                    </tr>
                }
            </tbody>
        </table>
        <div>
            <input type="submit" value="Dalej" />
        </div>
    </form>

</div>
